<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome <%= user.username%></title>
    <%- include('libs') %>
</head>
<body>
    <p class="text-center fs-1">Welcome back <%= user.username%></p>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/me'">View your uploads</button>
        <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/upload'">Upload +</button>
    </div>
</body>
</html>