<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('libs') %>
    <title>Login</title>
</head>
<body>
    <p class="text-center fs-1">Login</p>
    
    <div class="container-sm">
        <div class="alert alert-warning" role="alert" style="display: none;" id="warning">
        </div>
        <form method="POST" action="/login">
            <div class="mb-3">
                <label for="username" class="form-label">Username *</label>
                <input type="username" class="form-control" name="username" id="username" aria-describedby="username" required="true">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password *</label>
                <input type="password" class="form-control" name="password" id="password" required="true" aria-describedby="passwordHelp">
                <div id="passwordHelp" class="form-text">Minimum 8 Characters</div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>